
/* logo
#a70d0d */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}
a {
    text-decoration: none;
    color: #000;
}
.navbar a{
    color: #ffffff;
}
.ml-1{
    margin-left: 5px;
}
.ml-2{
    margin-left: 10px;
}
.ml-3{
    margin-left: 20px;
}
.mr-1{
    margin-right: 5px;
}
.mr-2{
    margin-right: 10px;
}
.mr-3{
    margin-right: 20px;
}
.container-fluid{
    max-width: 1434px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container {
    position: relative;
    width: 100%;
    transition: background .2s;
}
.input-search{
    border: 0;
    font: inherit;
    font-size: 1em;
    height: 100%;
    padding: 0 0 6px 8px;
    background: transparent;
}
.form-search{
    padding: 0 10px;
    border: 1px solid #a70d0d;
    border-radius: 30px;
    box-shadow: none;
    height: 50px;
    position: relative;
}
.container-form-search{
    flex:1;
}
.input-search:focus{
    border: 0;
    outline: none;
}
.form-search button{
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.input-search::placeholder{
    font-size: 0.8em;
    display: flex;
}
.phone{
    padding: 0 20px;
    border-right: 1px solid gray;
}
.badge{
    position: absolute;
    top: 10px;
    right: 0;
    background: #a70d0d;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.navbar{
    background: #a70d0d;
    color: #fff;
    padding: 0;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar .menu{
    display: flex;
    gap: 2rem;
}
.navbar .menu .menu-item{
    float: left;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 15px 0;
    height: 100%;
    cursor: pointer;
}
.navbar .menu-item .sub-menu{
    width: 280px;
    padding: 10px 10px;
    position: absolute;
    top: 100%;
    background: #ffffff;
    transition: .05ms;
    box-shadow: 0 10px 16px rgba(16,20,62,.1);
    z-index: 99;
    border-radius: 0 0 5px 5px;
    display: none;
}
.navbar .menu-item:hover .sub-menu{
    display: block;
}
.navbar .menu-item:hover, .navbar .menu-item:hover a{
    color: rgba(255, 255, 255, 0.8);
}
.navbar .menu-item .sub-menu li{
    padding: 5px 10px;
    text-align: left;
}
.navbar .menu-item .sub-menu a{
    color: black !important;
}
.navbar .menu-right{
    display: flex;
    gap: 2rem;
    right: 0;
}
.navbar .menu-right li{
    float: left;
    display: inline-flex;
    align-items: center;
}
.navbar .menu-right li:hover a{
    color: rgba(255, 255, 255, 0.8);
}

.p-carousel-indicators{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.p-carousel-indicators li button{
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.p-carousel-next, .p-carousel-prev{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.p-carousel-next{
    right: 0;
    margin-right: 20px;
}
.p-carousel-prev{
    left: 0;
    margin-left: 20px;
}
.p-carousel-items-content{
    border-radius: 1rem;
}
.p-card-body{
    padding: 0;
}
.p-card-content{
    padding: 0;
}
.popular-products{
    border-style:solid;
    border-width: 1px 1px 1px 1px;
    padding: 20px 20px 0px 20px;
    border-radius: 5px;
    border-color: #e1e2ef;
}
h5, .heading-size-5{
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 1.3;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
}
.title-product{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: 600;
}
.price-product{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: .25rem;
    line-height: 1.3;
}
.group-title{
    margin-left: auto;
    margin-right: auto;
}
.spacer{
    width: 65%;
}
.w-10{
    width: 10%;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.w-60{
    width: 60%;
}
.content-main{
    border-top: 1px solid black;
    padding-top: 50px;
}
.group-content{
    display: grid;
    gap: 42px;
    grid-template-columns: repeat(6,1fr);
}
.grid-3{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
.grid-4{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);
}
.grid-12{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
}
.item-content{
    flex-direction: column;
    height: 100%;
    transition: .5s all;
    position: relative;
}
.discount{
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 10px;
}
.lastest{
    position: absolute;
    top: -10px;
    left: -10px;
    margin-top: 10px;
    margin-left: 10px;
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: rgb(255, 190, 0);
}
.poster-ads{
    background-image: url("/image/ads/ads.png");
    background-position: center center;
    background-size: auto;
    border-radius: 10px;
    color: #fff;
}
.content-ads-left, .content-ads-right {
    padding: 30px;
}
.content-ads-right a{
    background: #ffc107;
    padding: 10px;
    border-radius: 5px;
    color: #000;
}
.group-product{
    border-top: 1px solid #e1e2ef;
    padding-top: 10px;
}
.poster-discount-ads{
    background-image: url("/image/ads/ngang.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    border-radius: 5px;
    margin-top: 80px;
}
.detail-poster{
    border-style: dashed;
    border-radius: 5px;
    color: #A4A4A4;
    border-width: 2px 2px 2px 2px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 29px;
}
.detail-poster a{
    background: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 40px;
}
.group-title .w-30 span{
    background-color: #a70d0d;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.flash-sale-group{
    border: 1px solid #e1e2ef;
    padding: 10px;
    border-radius: 10px;
}
.first-news-container{
    flex-direction: column;
    gap: 10px;
    padding: 0;
    text-align: left;
}
.first-news-container img{
    border-radius: 10px;
    user-select: none;
}
.news-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.news-wrapper article{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 0;
    border-radius: 5px;
    border-style: none;
}
.news-wrapper article .w-50{
    height: 180px;
}
.btn-readmore{
    background: #a70d0d;
    color: #fff;
    border-radius: 40px;
    width: 120px;
}
.flex-1{
    flex: 1;
}
.footer{
    background: #a70d0d;
    padding-bottom: 10px;
    color: #e1e2ef;
    margin-top: 100px;
}
.footer a{
    color: #fff;
}
.policy{
    padding-left: 30px;
}
.social-media {
    border-left: 5px solid #A4A4A4;
}
.copyright{
    border-top: 1px solid ;
    padding-top: 10px;
    color: #fff;
}
.p-inputnumber input{
    width: 100%;
}
.p-slider .p-slider-range{
    background: red;
}
.p-slider .p-slider-handle{
    border-color: red;
}
.p-slider:not(.p-disabled) .p-slider-handle:hover{
    background: red;
}
.p-panel-content{
    padding: 0;
}
.p-listbox-list{
    padding: 0;
}
.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    color: #fff;
    background: red;
    box-shadow: none;
}
.price-product-detail span{
    font-size: 30px !important;
    color: red;
}
.price-product-detail del{
    font-size: 15px;
}
.p-inputnumber-buttons-horizontal{
    height: 35px;
}
.p-inputnumber-buttons-horizontal input{
    width: 80px;
}
.p-inputnumber-input.p-inputtext.p-component.p-filled.p-inputnumber-input{
    width: 50px;
}
.about-product{
    padding: 0.938rem;
    background: #f5f5f5;
    border: 1px solid #e1e2ef;
    border-radius: 5px;
}
.p-tabview-title{
    color: #3c3f5f;
}
.p-tabview-nav{
    padding-left: 0;
}
.p-tabview-selected .p-tabview-title{
    color: #1d2cca;
}
.p-tabview-ink-bar{
    display: none;
}
.rating-reviews{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 0;
    padding: 0;
}
.progressbar{
    flex: 1;
}
.rating-reviews>div{
    height: 22px;
}
.p-progressbar .p-progressbar-value {
    border: 0 none;
    margin: 0;
    background: red;
}
.reviews-content-title{
    margin-top: 50px;
    border-top: 1px solid #e1e2ef;
    border-bottom: 1px solid #e1e2ef;
    padding: 15px 0;
}
.poster-upload-container input[type="file"] {
    display: none;
}
.poster-upload-container label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    border: 2px dashed red;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}
.p-galleria-content{
    height: 100%;
}
.p-galleria-item-wrapper{
    width: 100%;
    height: 100%;
}
.p-galleria-item-container{
    width: 100%;
    height: 100%;
}
.first-news-container p{
    margin: 0 !important;
}
  .btn-gradient-primary {
    background: linear-gradient(to right, red, #a70d0d);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; 
  }
  .auth-form-btn {
    height: 50px;
    line-height: 1.5;
    color: #fff;
  }
  .font-weight-light{
    font-family: "ubuntu-light", sans-serif;
  }
  .form-auth a:hover{
    text-decoration: underline;
    color: #1d2cca !important;
  }
  .dropdown-person:hover{
    color: #e1e2ef !important;
  }
  @media (max-width: 991px) {
    .header{
        display: none;
    }
    .navbar{
        display: none !important;
    }
    .header-container{
        margin-bottom: 10px !important;
    }
    .slide-poster-home{
        height: 450px !important;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    .group-content{
        grid-template-columns:repeat(3, 1fr) !important;
    }
    .products-new-container .col-md-6{
        display: none !important;
    }
    .products-new-container .col-md-3{
        width: 50% !important;
    }
    .flash-sale-group .products-mobile-body{
        grid-template-columns:repeat(4, 1fr) !important;
    }
    .grid-3.content-new-products-mobile .item-content .rounded-4{
        height: 350px;
    }
    .p-tabview-panel .card{
        margin-left: 0 !important;
    }
  }
  @media(max-width:768px){
    .cart tr td{
        display: block;
        border-bottom: 1px solid #e1e2ef;
        text-align: right;
    }
    .cart thead{
        display: none;
    }
    .cart tr .item-table::before{
        content:attr(data-title) ": ";
        font-weight: 700;
        float: left;
    }
    .remove-product{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .p-galleria{
        height: 450px !important;
    }
  }
  @media(max-width: 480px){
    .p-sidebar{
        width: 100% !important;
    }
    .page-body-wrapper .row{
        margin: 0;
    }
    .slide-poster-home{
        height: 250px !important;
    }
    .p-carousel-next, .p-carousel-prev{
        height: 30px;
        width: 30px;
    }
    .group-title h4, .group-title, .group-title a{
        width: 100% !important;
        display: block !important;
    }
    .group-title .spacer{
        width: 0;
    }
    .group-content{
        grid-template-columns:repeat(2, 1fr) !important;
    }
    .products-mobile-body{
        grid-template-columns:repeat(2, 1fr) !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .flash-sale-group .products-mobile-body{
        grid-template-columns:repeat(2, 1fr) !important;
    }
    .content-new-products-mobile{
        display: grid !important;
        grid-template-columns:repeat(2, 1fr) !important;
    }
    .products-new-container .col-md-3{
        width: 100% !important;
    }
    .footer .policy{
        padding: 0 !important;
    }
    .footer .policy, .footer .description, .footer .social-media{
        margin-top: 40px !important;
    }
    .poster-ads{
        display: block !important;
    }
    .content-ads-left, .content-ads-right, .content-ads-center{
        width: 100% !important;
    }
    .poster-discount-ads .detail-poster{
        display: block !important;
    }
    .poster-discount-ads .detail-poster div{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding: 0 !important;
        width: 100% !important;
    }
    .filter-container{
        grid-template-columns:repeat(2, 1fr) !important;
    }
    .p-selectbutton{
        display: none;
    }
    .p-dropdown-panel ul{
        padding: 0 !important;
        padding-left: 5px !important;
    }
    .dropdown-filter{
        display: block;
    }
  }
@media (min-width: 481px){
    .dropdown-filter{display: none;}
}

@media (min-width: 992px) {
    .header-mobile{
        display: none !important;
    }
    .content-new-products-mobile{
        display: none;
    }
}

.p-sidebar-content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.p-sidebar-content a, .p-sidebar-content{
    color: #000 !important;
}
.p-sidebar-content .menu-category>li{
    border-bottom: 1px solid #e1e2ef;
    padding: 10px 0;
    font-size: 20px;
}
.p-sidebar-content .menu-category .sub-menu li{
    padding-left: 15px;
    padding-top: 10px;
}
.cart thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.cart td span .p-inputnumber-button{
    background: transparent;
    border-color: #e1e2ef;
}
.cart td span .p-inputnumber-button svg{
    color: #000;
}
.cart td .p-inputtext:enabled:focus{
    outline: none;
    border: 1px solid #e1e2ef;
    box-shadow: none;
}
.cart td{
    padding: 20px;
}
.cart th{
    padding: 10px 20px;
}
.cart thead, tbody{
    border: 1px solid #e1e2ef;
}
.cart .col-md-3>div{
    background: #f5f5f5;
    padding: 20px;
}
.cart .col-md-3 .total{
    border-top: 1px solid #e1e2ef;
    padding-top: 10px;
}
.text-right{
    text-align: right !important;
}
.p-breadcrumb{
    padding-top: 10px;
    padding-bottom: 0;
}
.p-breadcrumb ol{
    padding: 0;
}

.overlay{
    top: 0;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    width: 100%;
    height: 100%;
}
.text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
}
.reviews-content-body{
    flex-direction: column;
    gap: 20px;
}
.reviews-content-detail{
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #e1e2ef;
    padding-bottom: 10px;
}
.setting-user{
    flex-direction: column;
    gap: 20px;
    background: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
}